* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f0f0f0;
}

.kingsley {
  background-color: #eee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box {
  height: 100px;
  width: 100px;
  background: yellow;
  padding: 20px 10px 20px;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  border-width: 5px 1px 10px;
  border-style: dashed solid dotted double;
  border-color: black;
}

.heading {
  color: black;
  font-weight: 500;
}

.form {
  background-color: black;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

#form {
  background-color: white;
}
